/*For login page*/
.main {
margin: 50px;
}

.positionByCenter {
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -103px 0px 0px -150px;
}

.border-line {
    border-style: outset;
    margin-bottom: 30px;
}

.table-border {
    border-style: double;
}
/*.content {
    background-color: #f7f7f7;
}

.form-actions {
    background-color: #efefef;
}*/

.optionButtonOptions{
    /*font-size: large !important;*/
    width: 80%;
}
                                                                                                                                              text-align: center; }
/*For Account Page*/

