/*For login page*/
.main {
margin: 18px;
}

.positionByCenter {
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -103px 0px 0px -150px;
}

.border-line {
    border-style: outset;
    margin-bottom: 30px;
}

.table-border {
    border-style: double;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-bottom-60px {
    margin-bottom: 60px;
}

.margin-top-50px {
    margin-top: 50px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.border-color-error {
    border-color:red !important;
}

.text-color-red {
    color: #a70319;
}

/*.content {
    background-color: #f7f7f7;
}

.form-actions {
    background-color: #efefef;
}*/

.optionButtonOptions{
    /*font-size: large !important;*/
    width: 80%;
}
                                                                                                                                              text-align: center; }
/*For Account Page*/

