
<div class="row">
    <div id="accountsList" class="col-md-2">
        <h3 ng-bind="dataTransfer.accounts_label_yourAccounts"></h3>
    </div>
    <div id="openAccount" class="col-md-1 col-md-offset-8">
        <button type="submit" class="btn btn-default" ui-sref="newAccount" ng-bind="dataTransfer.accounts_button_newAccount"></button>
    </div>
</div>

<table st-table="rowCollection" class="table table-striped table-border">
    <thead>
    <tr>
        <th st-sort="accountNumber" ng-bind="dataTransfer.accounts_table_accountNumber"></th>
        <th st-sort="balance" ng-bind="dataTransfer.accounts_table_balance"></th>
        <th st-sort="currency" ng-bind="dataTransfer.accounts_table_currency"></th>

    </tr>
    <tr>
        <th colspan="1"><input st-search="accountNumber" class="form-control" placeholder={{dataTransfer.accounts_table_searchByAccountNumber}} type="text"/></th>
        <th colspan="1"><input st-search="balance" class="form-control" placeholder={{dataTransfer.accounts_table_searchByBalance}} type="text"/></th>
        <th colspan="1"><input st-search="currency" class="form-control" placeholder={{dataTransfer.accounts_table_searchByCurrency}} type="text"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
        <td>{{row.accountNumber}}</td>
        <td>{{row.balance}}</td>
        <td>{{row.currency}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="3">
        </td>
    </tr>
    </tfoot>
</table>